main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(38, 38, 38);
  padding: 15px 25px;
  border-radius: 8px;

  & .main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 900px;
  }
}
